<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="mat-sidenav" mode="side">
        <div class="channel-container">
            <h2>Channels</h2>
            <app-channels></app-channels>
            <button mat-raised-button class="add-channel-btn" (click)="addChannel()">
                <mat-icon aria-hidden="false" fontIcon="add"></mat-icon>
                Add Channel
            </button>
        </div>
        
        <div class="logout">
            <button mat-raised-button class="logout-btn" (click)="logout()">
                <mat-icon aria-hidden="false" fontIcon="logout"></mat-icon>
                Logout
            </button>
        </div>
    </mat-drawer>

    <div class="mat-sidenav-content">
        <mat-toolbar class="mat-navbar" >
            <mat-toolbar-row>
                <mat-icon class="mat-icon" (click)="drawer.toggle()">menu</mat-icon>

                <div class="logo">
                    <h1>SlackClone</h1>
                </div>
                <div class="profile-picture">
                    <span>{{ userName }}</span>
                    <img src="./assets/img/profiles/jahleel.jpg">
                </div>
            </mat-toolbar-row>


        </mat-toolbar>

    </div>

</mat-drawer-container>




<div class="router-container">
    <router-outlet></router-outlet>
</div>