.mat-drawer-container {
    height: 100vh;
}

h2 {
    text-align: center;
    padding-right: 16px;
}

//SIDENAV_LEFT
.mat-sidenav {
    padding-top: 65px;
    background-color: var(--bg-dark);
    color: var(--bg-second);
    width: 17.5%;
}

.channel-container {
    padding-left: 32px;
    margin-top: var(--m25);
    margin-bottom: var(--m25);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-channel {
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-channel-btn {
    background-color: rgb(64, 217, 225) !important;
    border-radius: 12px;
    align-items: center;
    width: fit-content;

    mat-icon {
        color: var(--bg-dark);
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.logout {
    width: 100%;
    position: absolute;
    bottom: 56px*2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    background-color: rgb(64, 217, 225) !important;
    border-radius: 12px;

    mat-icon {
        color: var(--bg-dark);
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.sub-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 32px;
    width: 100%;

    span {
        &:last-child {
            margin-top: 6px;
        }

        &:hover {
            cursor: pointer;
            transform: scale(1.05);
        }
    }
}

//NAVBAR_TOP

.mat-navbar {
    background-color: var(--bg-dark);
}

.mat-toolbar-row {
    width: 100%;
    justify-content: space-between;
}

.mat-menu-icon {
    color: var(--bg-second);

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.logo {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-picture{
    height: 50px;
}

.profile-picture {
    margin-right: var(--m5p);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;

    span {
        color: var(--bg-second);
        margin-right: var(--m10p);
    }

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        object-position: right;
        padding: 1px;
        border: 2px solid var(--bg-second);

    }
}