.mat-drawer-container {
    height: 100vh;
}

//SIDENAV_LEFT
.mat-sidenav {
    background-color: var(--bg-dark);
    color: var(--bg-second);
}

.channel-container {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.add-channel-btn {
    background-color: rgb(64, 217, 225) !important;
    border-radius: 12px;

    mat-icon {
        color: var(--bg-dark);
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

.logout {
    width: 100%;
    position: absolute;
    bottom: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn {
    background-color: rgb(64, 217, 225) !important;
    border-radius: 12px;

    mat-icon {
        color: var(--bg-dark);
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}

//NAVBAR_TOP

.mat-navbar {
    background-color: var(--bg-dark);
}

.mat-toolbar-row {
    width: 100%;
    justify-content: space-between;
}

.mat-menu-icon {
    color: var(--bg-second);
}

.logo {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picture {
    margin-right: var(--m5p);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;

    span {
        color: var(--bg-second);
        margin-right: var(--mp);
    }

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover;
        object-position: top;
        padding: 1px;
        border: 2px solid var(--bg-second);

        &:hover {
            cursor: pointer;
        }
    }
}