.chatbox {
    display: flex;
    align-items: center;
}

.send-msg-btn {
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color: var(--bg-dark);
    color: var(--bg-second);

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}