.chatbox {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: white;
    border: 1px solid rgba(255, 0, 174, 0.3);
}

.text-editor{
    width: 100%;
}

.send-msg-btn {
    padding: 12px;
    border-radius: 12px;
    border: none;
    background-color: var(--bg-dark);
    color: var(--bg-second);

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}
