.side-nav {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: var(--m15p);
    background-color: var(--bg-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.channel-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-height: var(--m50p);
    margin-top: var(--m10p);
    width: 100%;
    color: var(--bg-second);
}

.create-channel {
    display: flex;
    align-items: center;

    &:hover {
        cursor: pointer;
    }
}

.log-out {
    font-size: var(--fs-xl);
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
    margin-bottom: var(--m10p);

    &:hover {
        cursor: pointer;
    }

    p {
        color: var(--bg-second);
        margin-top: 3px;
        margin-left: 1px;
    }
}

.material-icons {
    color: var(--bg-second);
}