also das /* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    height: 100%;
}

//COLOR
:root {
    --marker: rgb(147, 214, 224);
    --font: rgb(203, 229, 233);
    --bg-light: rgb(7, 27, 30);
    --bg-dark: rgb(6, 18, 20);
    --bg-second: rgb(148, 213, 223);
}

//MARGIN
:root {
    --m5: 5px;
    --m12: 12.5px;
    --m25: 25px;
    --m50: 50px;

    --m5p: 5%;
    --m10p: 10%;
    --m15p: 15%;
    --m20p: 20%;
    --m50p: 50%;
}

//FONT SIZE
:root {
    --fs-m: 12px;
    --fs-l: 16px;
    --fs-xl: 24px;
    --fs-hl: 30px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
