also das
/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

//HEADER
h1 {
    margin-top: 10px !important;
    font-size: var(--fs-h1) !important;
    color: var(--lightest);
    font-weight: bold !important;
}

h2 {
    color: var(--lightest);
}

//CLASSES
.d-none {
    display: none !important;
}

.active {
    display: flex !important;
}


//COLOR
:root {
    --lightest:rgb(64, 217, 225);
    --marker: rgb(147, 214, 224);
    --font: rgb(203, 229, 233);
    --bg-light: rgb(7, 27, 30);
    --bg-dark: rgb(6, 18, 20);
    --bg-second: rgb(148, 213, 223);
}

//MARGIN
:root {
    --m5: 5px;
    --m12: 12.5px;
    --m25: 25px;
    --m50: 50px;

    --m5p: 5%;
    --m10p: 10%;
    --m15p: 15%;
    --m20p: 20%;
    --m50p: 50%;
}

//FONT SIZE
:root {
    --fs-m: 12px;
    --fs-l: 16px;
    --fs-xl: 24px;
    --fs-hl: 30px;
    --fs-h1: 36px;
}

// === LOCAL FONTS: ===

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../src/assets/fonts/poppins-v20-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../src/assets/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../src/assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../src/assets/fonts/poppins-v20-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../src/assets/fonts/poppins-v20-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../src/assets/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg');
    /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../src/assets/fonts/poppins-v20-latin-700.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../src/assets/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../src/assets/fonts/poppins-v20-latin-700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../src/assets/fonts/poppins-v20-latin-700.woff') format('woff'),
        /* Modern Browsers */
        url('../src/assets/fonts/poppins-v20-latin-700.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../src/assets/fonts/poppins-v20-latin-700.svg#Poppins') format('svg');
    /* Legacy iOS */
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}