.mdl-layout__content {
    display: flex;
    flex-direction: column;
}

.page-content {
    background-color: lightgrey;
}

.color-gray {
    color: gray;
}

.textField {
    display: flex;
    gap: 12px;
}

.textField-child {
    display: flex;
    flex-direction: column;
}

.test {
    margin-top: 80px;
    margin-left: 100px;
}